body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #512da8;
    margin: 0;
    font-family: Arial, sans-serif;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    transform: rotateX(10deg) rotateY(5deg);
}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #512da8;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #512da8;
}

.error {
    color: #ff0000;
    margin-top: 10px;
}